#canvases {
    display: flex;
    flex-wrap: wrap;
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: left;
}

.control-panel > span {
    margin-left: 8px;
}

.logView {
    border: 1px solid black;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.bottom-label {
    margin-left: 8px;
    margin-right: 8px;
}
